{{range $k, $v := ((resources.GetRemote "https://github.com/ozh/github-colors/raw/master/colors.json").Content | transform.Unmarshal) }} {{if and $k $v.color }}
.{{partial "sanitize-class-name" $k}}{
	--language-color:{{ $v.color}};
}
{{end}} {{end}}
