{{range $i := collections.Seq 10}}
:nth-child({{$i}}){
    {{range $j := collections.Seq 18}}
	--r{{$j}}:{{div (add (index (collections.Seq 50 | collections.Shuffle)  0) (index (collections.Seq 50 | collections.Shuffle)  0)) 100.0}};
    {{end}}
}
{{end}}
