:root {
    --tone0: #f0f2f4;
    --tone1: #d9dbde;
    --tone2: #c6cccd;
    --tone3: #6c7683;
    --tone4: #3d4c60;
    --tone5: #212731;
    --tone6: #0a1114;

    --accent0: #004b96;
    --accent1: #002f5e;

    background-color: #fff;
    color: var(--tone5);
}

/* layout rules */
body {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0.4em;
}
body > * {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
    gap: .5em;
}
.side-content{
    flex-basis: 18em;
    flex-direction: column;
    flex-grow: 1;
    gap: inherit;
}
main {
    flex-basis: 24em;
    flex-wrap: wrap;
    flex-grow: 100;
}
main > article {
    flex-basis: 30em;
    flex-grow: 1;
}
main > .project {
    flex-basis: 16em;
    flex-shrink: 2;
    flex-grow: 1
}

h1 {
    font-size: 1.4em;
    font-style: normal;
    margin: 0;
    padding-left: .5em;
    display: block;
}
main > h1 { /* section heading */
    width: 100%
}

h2 {
    font-size: 1.1em;
    margin: 0;
}

hgroup > h2 { /* subheading */
    color: var(--tone4);
    font-weight: normal;
    margin: 0;
}

hgroup img /* title image */
{
    height: 5em;
    shape-margin: 10px;
    float: left;
    shape-outside: var(--url);
}

p {
    padding: 0 1em;
    margin: 0;
    text-align: justify;
}

table {
    width: 100%;
}
td {
    width: 100%;
}
td:first-child {
    width: 0%;
}
.icon {
    height: 1.2em;
    width: 1.2em;
}

ul {
    list-style:none;
    padding: 0;
    margin-left: .5em;
}

address {
    font-style: normal;
}

/* links */
a {
    color: var(--accent1);
    display:flex;
    text-decoration: none;
    gap: .3em;
}
a .icon {
    color: var(--tone5);
}
p > a {
    display:inline-flex;
    gap: .1em;
}
p > a .icon {
    height: 1em;
    width: 1em;
}
a span {
    text-decoration: underline;
}
a small {
    color: var(--tone5);
    display: block;
    text-decoration: none;
    font-style: italic;
}

/* bar-graph */
.bar::before {
    position: absolute;
    top: -1px;
    left: -1px;
    border: solid 1px;
    content:"";
    background-color: var(--language-color);
    width: var(--val);
    height: inherit;
    border-radius: inherit;
}
.bar {
    position: relative;
    height: .5em;
    border-radius: 1em;
    background-color: var(--tone2);
}
.stacked-bargraph {
    display: flex;
    margin: .3em  .5em 0 .5em;
    float: bottom;
}
.stacked-bargraph > div {
    flex-grow: var(--val);
    height: .5em;
    background-color: var(--language-color);
    border: solid;
    border-width: 1px;
    border-right-width: 0;
}
.stacked-bargraph > div:first-child {
	border-radius: 1em 0 0 1em;
} 
.stacked-bargraph > div:last-child {
	border-radius: 0 1em 1em 0;
	border-width: 1px;
}

/* --CARD STYLES-- */
/* default card */
.card {
    padding: 6px;
    position: relative;

    filter: drop-shadow( 1px  1px 0px var(--tone2))
            drop-shadow( 1px -1px 0px var(--tone2))
            drop-shadow(-1px  1px 0px var(--tone2))
            drop-shadow(-1px -1px 0px var(--tone2));

    --size: .2em;
    margin: calc( var(--size));

    --clip-scale: 1;
    --rotate-scale: 1;
}
.card::after,.card::before{
    content: '';
    position: absolute;
    z-index: -1;

    --outset: calc(0px - var(--size));
    top: var(--outset);
    right: var(--outset);
    bottom:  var(--outset);
    left: var(--outset);

}
.card::before{
    background: white;
    transform: rotate(calc( 4deg * var(--r1) * var(--rotate-scale) ));

    clip-path: polygon(
        calc(0%   + var(--size) * var(--r2) * var(--clip-scale))
        calc(0%   + var(--size) * var(--r3) * var(--clip-scale)),
        calc(100% - var(--size) * var(--r4) * var(--clip-scale))
        calc(0%   + var(--size) * var(--r5) * var(--clip-scale)),
        calc(100% - var(--size) * var(--r6) * var(--clip-scale))
        calc(100% - var(--size) * var(--r7) * var(--clip-scale)),
        calc(0%   + var(--size) * var(--r8) * var(--clip-scale))
        calc(100% - var(--size) * var(--r9) * var(--clip-scale))
    );
}
.card::after{
    z-index: -2;
    background: var(--accent0);
    transform: rotate(calc( -4deg * var(--r10) * var(--rotate-scale) ));

    clip-path: polygon(
        calc(0%   + var(--size) * var(--r11) * var(--clip-scale))
        calc(0%   + var(--size) * var(--r12) * var(--clip-scale)),
        calc(100% - var(--size) * var(--r13) * var(--clip-scale))
        calc(0%   + var(--size) * var(--r14) * var(--clip-scale)),
        calc(100% - var(--size) * var(--r15) * var(--clip-scale))
        calc(100% - var(--size) * var(--r16) * var(--clip-scale)),
        calc(0%   + var(--size) * var(--r17) * var(--clip-scale))
        calc(100% - var(--size) * var(--r18) * var(--clip-scale))
    );
}

article.card{
    --size: .4em;
    --clip-scale: 0;
    --rotate-scale: 0.25;
}

.side-content .card{
    --rotate-scale: .5;
    --clip-scale: 1;
}
.side-content .card::after{
    --clip-scale: 0;
    --rotate-scale: 1.4;
}

/* project card */
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    --accent0: var(--language-color);

    --size: 0.6em;
    --clip-scale: 1;
    --rotate-scale: .2;
}
.project > hgroup{
    display: flex;
    justify-content: space-between;
}
.project p {
    padding: 0 .5em;
}
.stars{
    color: var(--tone4);
    gap: .2em;
    display: flex;
    align-items: baseline;
}
