:root {
    --tone0: #f0f2f4;
    --tone1: #d9dbde;
    --tone2: #c6cccd;
    --tone3: #6c7683;
    --tone4: #3d4c60;
    --tone5: #212731;
    --tone6: #0a1114;

    --accent0: #004b96;
    --accent1: #002f5e;

    background-color: #fff;
    color: var(--tone5);
}

body {
    display: flex;
    flex-wrap: wrap;
    gap: .8em;
    height: 100%;
}

body > * {
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
    gap: .5em;
}
body > * > * {
    background: var(--tone0);

    border-width: 1px;
    border-radius: 0 .3em .3em 0;
    border-color: var(--tone3);
    border-style: solid;

    border-left-width: .3em;
    border-left-color: var(--tone4);

    padding: 6px;
} 

.side-content{
    flex-basis: 18em;
    flex-direction: column;
    flex-grow: 1;
}
main {
    flex-basis: 24em;
    flex-wrap: wrap;
    flex-grow: 100;
}
main > article {
    flex-basis: 30em;
    flex-grow: 1;
}
main > .project {
    flex-basis: 16em;
    flex-shrink: 2;
    flex-grow: 1
}
main > h1 {
    width: 100%
}

h1 {
    font-size: 1.4em;
    font-style: normal;
    margin: 0;
    padding-left: .5em;
    display: block;
}
h2 {
    font-size: 1.1em;
    margin: 0;
}

hgroup > h2 { /* subheading */
    color: var(--tone4);
    font-weight: normal;
    margin: 0;
}

/* title image */
hgroup img
{
    height: 5em;
    shape-margin: 10px;
    float: left;
    shape-outside: var(--url);
}

p {
    padding: 0 1em;
    margin: 0;
    text-align: justify;
}

table {
    width: 100%;
}

td {
    width: 100%;
}
td:first-child {
    width: 0%;
}
.icon {
    height: 1.2em;
    width: 1.2em;
}

/* project card */
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project > hgroup{
    display: flex;
    justify-content: space-between;

}
.project p {
    padding: 0 .5em;
}
.stars{
    color: var(--tone4);
    gap: .2em;
    display: flex;
    align-items: baseline;
}

.bar::before {
    position: absolute;
    top: -1px;
    left: -1px;
    border: solid 1px;
    content:"";
    background-color: var(--language-color);
    width: var(--val);
    height: inherit;
    border-radius: inherit;
}
.bar {
    position: relative;
    height: .5em;
    border-radius: 1em;
    background-color: var(--tone2);
}

.stacked-bargraph {
    display: flex;
    margin: .3em  .5em 0 .5em;
    float: bottom;

}
.stacked-bargraph > div {
    flex-grow: var(--val);
    height: .5em;
    background-color: var(--language-color);
    border: solid;
    border-width: 1px;
    border-right-width: 0;
}
.stacked-bargraph > div:first-child {
	border-radius: 1em 0 0 1em;
} 
.stacked-bargraph > div:last-child {
	border-radius: 0 1em 1em 0;
	border-width: 1px;
}
ul {
    list-style:none;
    padding: 0;
    margin-left: .5em;
}
address {
    font-style: normal;
}

a {
    color: var(--accent0);
    display:flex;
    text-decoration: none;
    gap: .3em;
}
a .icon {
    color: var(--tone5);
}

a span {
    text-decoration: underline;
}
a small {
    color: var(--tone5);
    display: block;
    text-decoration: none;
    font-style: italic;
}

