{{ define "main" -}}


<div class="side-content">
    <address>
        {{partial "data" site.Data.me }}
    </address>

    {{with .Site.GetPage "me"}}
    <address>
        {{.Content}}
    </address>
    {{end}}

    <table>
        {{range $v:= getCSV "," (printf "%s%s" "content/" (.Site.GetPage "languages").File.Path) }}
        <tr>
            <td>{{index $v 0}}</td>
            <td><div class="bar {{partial "sanitize-class-name" (index $v 0)}}" style="--val:{{mul (float (index $v 1)) 10 }}%"></div></td>
        </tr>
        {{end}}
    </table>
</div>

<main>
    {{ range where .Site.AllPages "File.Dir" "like" "tidbits" -}}
    <article>
         {{ partial "title-image"  .}}
         <h1> {{ .Title }}</h1>
         {{ .Content }}
    </article>
    {{end }}
</main>



{{- end }}
