{{ define "main" -}}
<div class="side-content">
    {{with .Site.GetPage "me"}}
    <address>
        {{.Content}}
    </address>
    {{end}}

    {{with .Site.GetPage "languages"}}
    <div>
        {{.Content}}
    </div>
    {{end}}

</div>

<main>
    {{ range where (sort .Site.AllPages.ByLinkTitle "File.Path") "File.Dir" "like" "tidbits" -}}
        {{$P:=.Params}}
        <article {{with $P.accent0}} style="--accent0:{{.}}{{with $P.accent1}};--accent1:{{.}}{{end}}"{{end}}>
            <hgroup>
                {{ partial "title-image" .}}
                <h1> {{ .Title }}</h1>
                {{with .Params.subtitle}}
                    <h2>{{.}}</h2>
                {{end}}
            </hgroup>

            {{ .Content }}
        </article>
    {{end }}

    <h1>Projects</h1>
    {{ range where (sort .Site.AllPages "File.Path") "File.Dir" "like" "projects" -}}
        {{$url:=.Params.p_url}}
        {{$gitlab:= strings.Contains $url "gitlab"}}
        <div class="project card">
            <hgroup>
                {{ partial "title-image" .}}
                <a href={{.Params.p_url}} > <h2>{{.Title}}</h2> </a>
                {{with .Params.api }}
                    {{with index ( getJSON . ) "stargazers_count"}}
                        <a href={{compare.Conditional $gitlab "-/starrers" "stargazers" | printf "%s/%s" $url }} class="stars">{{partial "icon" "star"}}{{.}}</a>
                    {{end}}

                    {{with compare.Conditional $gitlab "repository/contributors" "contributors" | printf "%s/%s" . | getJSON | len}}
                        {{if compare.Gt . 1}}
                            <a href={{compare.Conditional $gitlab "-/graphs/master" "contributors" | printf "%s/%s" $url }} class="stars">{{partial "icon" "people"}}{{.}}</a>
                        {{end}}
                    {{end}}
                {{end}}
            </hgroup>
            {{ .Content }}
            {{with .Params.api}}{{printf "%s/%s" . "languages" | getJSON | partial "stacked-bargraph"}}{{end}}
        </div>
    {{end }}
</main>

{{- end }}
